
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    background-color: blue;
}
#menu li > a {
    font-size: large;
    font-weight: 800;
}

.globitos img {
    height: 120px;
    width: 120px;
    border-radius: 45%;   
    padding: 10px;     
}
.globitos img:hover {
    height: 122px;
    width: 122px;
    filter: grayscale(1); 
} 
.footer-bottom{
    margin-top: 20px;
    border-top: 2px solid black;
    padding-top: 10px;
    font-size: large ;
}
.sectgatos{
    height: 100px
}