@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
nav div a img {
  border-radius: 50%;
  background-color: whitesmoke;
}
nav div a img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
nav div div ul li {
  padding-left: 5%;
  padding-right: 5%;
}

#navbarSupportedContent {
  font-style: inherit;
  font-size: x-large;
  font-weight: bold;
}
#navbarSupportedContent li a {
  color: black;
}
#navbarSupportedContent li a:hover {
  color: beige;
}

footer {
  background-color: rgba(0, 100, 100, 0.8);
  position: relative;
}
footer .redes {
  text-decoration: solid;
  text-align: center;
  list-style-type: none;
}

h3 {
  color: rgba(0, 0, 0, 0.8);
}

div.footer-bottom {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

.custom-link {
  color: white;
  /* Cambia el color del texto a negro */
  text-decoration: none;
  /* Quita la decoración de subrayado */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.custom-link:hover {
  color: burlywood;
  transform: scale(1.05);
  /* Cambia el color del texto al hacer hover */
}

body header {
  width: auto;
  background: rgba(0, 100, 100, 0.8);
}

body main section div.globitos {
  text-align: center;
}
body main section div.globitos img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
body main section div.globitos img:hover {
  transform: scale(1.05);
  filter: grayscale(1);
}

body main section div.promos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin-left: 10vh;
  margin-right: 10vh;
  background-color: rgba(0, 100, 100, 0.8);
}
body main section div.promos h1 {
  color: antiquewhite;
}
body main section div.masvendido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin-left: 10vh;
  margin-right: 10vh;
  background-color: rgba(0, 100, 100, 0.8);
}
body main section div.masvendido h3 {
  color: antiquewhite;
}

.btn-outline-custom {
  border-color: black;
  color: black;
}
.btn-outline-custom:hover {
  background-color: black;
  color: white;
}

.image-tag {
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
.image-tag img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  height: 400px;
}

.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 40px;
  top: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .promos h1 {
    font-size: large;
  }
  .masvendido h3 {
    font-size: large;
  }
  .image-tag img {
    height: 80px;
  }
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 80%;
    text-align: center;
    margin: auto;
}
.carousel-card {
    display: flex;    
    overflow-y: auto;
    background-color: beige;

}
.card {
    position: relative;
    padding: 1rem;
}
.card img {
    width: 200px;
    object-fit: cover;
    height: 300px;
}
.cuerpo-card {
    visibility: hidden;
    position: absolute;
    bottom: 0;   
    color: white;
    background-color: rgba(0, 0, 0, 0.4)
}

.cuerpo-card h5,
.cuerpo-card p {
    margin: 0;
}

.card a:hover ~ .cuerpo-card {
    visibility: visible;
    transform: translate(5px);
    transition: all 1s;
} */

/*# sourceMappingURL=style.css.map */
