footer {
    .redes {
        text-decoration: solid;
        text-align: center;
        list-style-type: none;
    }
}
    div.footer-bottom {
        font-weight: bold;
        text-align: center;
    }
