footer {
    background-color: $bg-color-promos;

    position: relative;

    .redes {

        text-decoration: solid;
        text-align: center;
        list-style-type: none;
    }
}

h3 {
    color: rgba(0, 0, 0, 0.8);
}

div.footer-bottom {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    text-align: center;
}

.custom-link {
    color: white;
    /* Cambia el color del texto a negro */
    text-decoration: none;
    /* Quita la decoración de subrayado */
    transition: transform 0.3s ease, filter 0.3s ease
}

.custom-link:hover {
    color: burlywood;
    transform: scale(1.05);
    ;
    /* Cambia el color del texto al hacer hover */
}


.tarjeta-pagos {
    text-align: center;
    margin-top: 20px;
}

.redes2 {
    color: #333;
    font-size: 18px;
}

.tarjeta-pagos ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tarjeta-pagos li {
    margin: 0 10px;
}

.tarjeta-pagos img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.tarjeta-pagos img:hover {
    transform: scale(1.1);
}
