nav {
    div {
        a {//animacion del logo de TRACE

            img {
                border-radius: 50%;
                background-color: whitesmoke;
            }

            img:hover {
                transform: rotate(360deg);
                transition: 1s;
            }
        }

        div {//botones del menu hamburguesa
            ul {
                li {
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }
}

#navbarSupportedContent {
    font-style: inherit;
    font-size: x-large;
    font-weight: bold;

    li a {
        color: black;
    }

    li a:hover {
        color: beige
    }
}