body {
    header {
        width:auto;
        height: 120px;
        background: rgb(2, 0, 36);
        background: linear-gradient(47deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 18%, rgba(0, 212, 255, 0.8491771708683473) 92%);
    }
}

body main {
    section {
        div.globitos {
            text-align: center;

            img {
                height: 120px;
                width: 120px;
                border-radius: 45%;
                padding: 10px;

                &:hover {
                    height: 122px;
                    width: 122px;
                    filter: grayscale(1);
                }
            }
        }
    }
}


body main section {
    div.promos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
        background-color: rgb(17, 0, 255);

        h3 {
            color: antiquewhite
        }
    }

    div.masvendido {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
        background-color: rgb(17, 0, 255);

        h3 {
            color: antiquewhite
        }
    }
}
