body {
    header {
        width: auto;
        background: $bg-color-promos;
            
    }
}

body { //ANIMACION DE LOS GLOBITOS
    main {
        section {
            div.globitos {
                text-align: center;

                img {
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                    padding: 10px;
                    transition: transform 0.3s ease, filter 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                        filter: grayscale(1);
                    }
                }
            }
        }
    }
}

body main section { //PROMOCIONES DEL MES
    div.promos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
        background-color: $bg-color-promos;

        h1 {
            color: antiquewhite
        }
    }

    div.masvendido {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
        background-color: $bg-color-promos;

        h3 {
            color: antiquewhite
        }
    }
}

.btn-outline-custom { //CUSTOMIZE BOTON BUSCAR
    border-color: black;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}


.image-tag {//OPACIDAD EN EL BANNER DE ANIMALES Y FORZA RES
    opacity: 0.5;
    display: flex;
    justify-content: center;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.carousel-inner img {//FORZAR RESOLUCION AJUSTADA DE IMAGENES EN EL CAROUSEL
    width: 100%;
    max-height: 400px;
    object-fit: cover;

}
.carousel-control-prev,
.carousel-control-next {//MODIFICACION DE LOS ICONOS PREV Y NEXT
    width: 30px;
    height: 40px;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {//MODIFICACION DE LOS ICONOS PREV Y NEXT
    background-color: transparent;
}